body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: white;
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
}


#loginform h1 {
    text-align: center;
    margin-bottom: 10px; 
    font-size: 25px;
    margin-bottom: 2rem;
}


#loginform a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.form-fields {
    margin-bottom: 10px; 
    display: flex;
    flex-direction: column;
}

.form-fields label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 1rem;
}

.form-fields input,
.form-fields select,
.form-fields textarea {
    padding: 6px 8px; 
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 15px;
    margin-bottom: 1rem;
}

button[type="submit"] {
    width: 100%;
    padding: 8px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.message{
    color:red
}
